<!DOCTYPE html>
<html>

   <head>
      <title>Backend Challenges | Free Code Camp</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
         <h1>Timestamp Microservice</h1>
         <h3>
           Hello there! Go ahead test your string to see if it's match a timestamp.
        </h3>
        <hr/>
        <h2>User stories:</h2>
        <p>Pass a string as part of the url, 
              this program will check to see whether that string contains either a unix timestamp 
              or a natural language date (example: January 1, 2016)
              <br/>
              If it does, it returns both the Unix timestamp and the natural language form of that date.<br/>
              If not, it returns null for those properties.
        </p>           
      
         <h2>Example usage:</h2>
         <code>https://pickle-staircase.glitch.me/December%2015,%202015</code>
        <br/>
         <code>https://pickle-staircase.glitch.me/1450137600</code>
        <h2>Example output:</h2>
        <code>{ "unix": 1450137600, "natural": "December 15, 2015" }</code>
      
      </div>
   </body>

</html>
